@model WebApplication1.Models.CompetitiveGroup
@{
    ViewBag.Title = "CompetitiveGroup";
}

<h2>Конкурсные группы</h2>
<p>Поиск по названию</p>


@using (Html.BeginForm("CompetitiveGroup", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{


    <div class="form-group">
        @*@Html.LabelFor(i => i.Name, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.TextBoxFor(i => i.Name, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Найти" />
        </div>
    </div>
}


@{
    string hide = "";
    string message = "";

    //if (Enumerable.Any(ViewBag.foundCg))
    //{
    //    hide = "0;";
    //} else if (!Enumerable.Any(ViewBag.compGroups) && !Enumerable.Any(ViewBag.foundCg))

    //{
    //    message = "Не найдено конкурсных групп с введенным названием";
    //    hide = "0;";
    //}

}

<h3>@message</h3>

<table class="table" style="opacity: @hide">


    <tr>
        <th scope="col">Название КГ</th>
        <th scope="col">Уровень образования</th>
        <th scope="col">Форма обучения </th>
        <th scope="col">Направление подготовки</th>

    </tr>


    @foreach (var item in ViewBag.compGroups)
    {
        <tr>
            <td>
                @item.Name;
            </td>
            @*<td>
                @item.CompetitiveGroupID

            </td>*@
           
            <td>
                @item.EducationLevelName

            </td>  
            <td>
                @item.EducationFormName
                @Html.DropDownList("edForm", ViewBag.eduFormName as SelectList, @item.EducationFormName as string,
                       new { @class = "form-control", @name = "CampaignTypeID", @style = "background-color: @color" })
            </td>
            <td>
                @item.DirectionName
            </td>
        </tr>
    }
</table>




<div>
    @Html.ActionLink("Назад к поиску", "Search")
</div>