@model WebApplication1.Models.InstitutionFullInfo<int>
@*@model WebApplication1.Models.InstitutionViewModel*@
@{

    ViewBag.Title = "EditInstitutionInfo";
}

<h2>Информация</h2>

<div>
    @Html.ActionLink("Назад к поиску", "Search")
</div>



        <form method="post" >
            <p>
                @Html.DropDownList("Dates", ViewBag.Dates as SelectList, ViewBag.SelectedYear as string, new { @class = "form-control" })
            </p>

            @foreach (var item in ViewBag.compGroupsInfo)
            {
                <input type="hidden" value=@item.InstitutionID name="inst"/>

            }
            @Html.TextBox("txtValue", null, new { type = "hidden" })

            <button id="filter" class="btn btn-outline-primary">Поиск по году</button>
        </form>


@*<p>
        @Html.DropDownList("Dates", ViewBag.Dates as SelectList, "Выбрать год", new { @class = "form-control" })
    </p>*@

@using (Html.BeginForm("EditInstitutionInfo", "EditInstitutionInfo", FormMethod.Post))
{
    @Html.AntiForgeryToken()
}


@{
    string hide = "";
    string message = "";
    if (!Enumerable.Any(ViewBag.compGroupsInfo))
    {
        message = "По выбранной организации информация отсутствует";
        hide = "0;";

    }
}


<h3>@message</h3>

<table class="table table-borderless" style="opacity: @hide" >
    <tr>
        <th scope="col">Год</th>
        <th scope="col">Название конкурсной группы</th>
        <th scope="col">Идентификатор ВИ </th>
        <th scope="col">Минимальный балл</th>
        
    </tr>

  

  
   
@foreach (var item in ViewBag.compGroupsInfo)
{
    string color = "#FFFFFF;";
    if (ViewBag.FormEtID != null && item.EntranceTestItemID == ViewBag.FormEtID)
    {
        color = "#66CC99;";
    }
    

        <tr style="background-color: @color">
            

                <td>@item.CreatedDate</td>
                <td> @item.Name</td>
                <td>@item.EntranceTestItemID</td>

                <td>
                    <form class="form-inline" method="post">
                        @*<input type="hidden" value=@foreach (var eti in item.EntranceTestItemCs)
                                                            { @eti.EntranceTestItemID}*@ 
                        <input type="hidden" value=@item.EntranceTestItemID name="EntranceTestItemID" />
                        <input type="hidden" value=@item.InstitutionID name="InstitutionID" />
                        <input type="hidden" value=@item.CreatedDate name="CreatedDate" />
                        @*<input class="form-control" value=@foreach (var eti in item.EntranceTestItemCs)
                                                            { @eti.MinScore} name="MinScore" />*@
                        <input class="form-control" value=@item.MinScore name="MinScore" />
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="submit" value="Сохранить" class="btn btn-sm" id="submitButton" />
                        </div>
                    </form>
        </td>
                

</tr>
 

}
 
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   

}

    
